In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_excel("Survey_res.xlsx",header = None,skiprows =1)

In [37]:
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,4,2,3,4,4,4,4,4,2,1,...,2,1,3,4,3,3,1,5,4,5
1,4,3,3,4,5,2,4,3,3,4,...,4,4,5,4,5,3,2,5,5,5
2,2,4,2,4,5,3,2,4,2,3,...,5,3,4,5,5,3,3,5,5,5
3,4,5,4,4,5,3,3,4,4,4,...,4,4,5,4,5,4,3,2,4,4
4,3,3,3,3,5,3,3,2,3,2,...,3,3,3,3,3,3,2,2,2,2
5,4,3,3,5,4,3,4,4,4,3,...,4,3,4,4,3,3,2,3,5,3
6,3,3,4,5,5,2,4,3,3,3,...,4,5,4,4,5,3,2,3,4,2
7,3,2,4,5,5,2,5,3,4,4,...,4,3,4,4,5,5,3,3,5,5
8,4,4,4,5,5,4,4,3,3,4,...,3,3,3,3,5,5,2,4,4,4
9,3,4,3,5,4,2,4,2,3,3,...,5,4,3,4,3,4,4,4,5,2
10,5,4,5,5,5,4,5,4,4,4,...,4,5,4,4,5,4,5,4,4,4
11,5,3,1,1,1,1,3,1,1,1,...,1,1,2,4,1,1,1,1,5,3
12,4,3,4,5,5,2,4,4,3,4,...,4,3,3,4,3,2,2,3,3,3
13,4,3,4,3,4,3,4,3,4,3,...,4,3,4,3,4,3,4,4,3,4
14,5,5,5,5,5,4,5,4,2,2,...,3,3,2,2,3,2,3,3,4,5
15,3,4,3,4,3,4,3,4,3,4,...,4,3,4,3,4,3,4,3,4,3

In [38]:
df.columns =["b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x"]

In [39]:

df["b"] = df["b"].astype(int)
df["b"] = df["b"].astype(str)

In [40]:
df['b'] = df['b'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)
# df['b'] = df['b'].replace({'2' : '0.0,0.2,0.4'}, regex=True)
# df['b'] = df['b'].replace({'3' : '0.2,0.4,0.6'}, regex=True)
# df['b'] = df['b'].replace({'4' : '0.4,0.6,0.8'}, regex=True)
# df['b'] = df['b'].replace({'5' : '0.6,0.8,1.0'}, regex=True)

In [41]:
df["b"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\972599373.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

In [42]:
dv

       0    1     2
0   "0.4  0.6  0.8"
1   "0.4  0.6  0.8"
2   "0.0  0.2  0.4"
3   "0.4  0.6  0.8"
4   "0.2  0.4  0.6"
5   "0.4  0.6  0.8"
6   "0.2  0.4  0.6"
7   "0.2  0.4  0.6"
8   "0.4  0.6  0.8"
9   "0.2  0.4  0.6"
10  "0.6  0.8  1.0"
11  "0.6  0.8  1.0"
12  "0.4  0.6  0.8"
13  "0.4  0.6  0.8"
14  "0.6  0.8  1.0"
15  "0.2  0.4  0.6"

In [43]:
df["b"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
print(n0b,n1b,n2b)
np.mean(d)

0.35000000000000003 0.55 0.75

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\2618339252.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.1375

In [44]:
#dv = pd.read_csv("bubble",sep="\,",header = None)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])

In [45]:
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)

In [46]:
np.mean(d)

0.1375

In [47]:
df["c"]

0     2
1     3
2     4
3     5
4     3
5     3
6     3
7     2
8     4
9     4
10    4
11    3
12    3
13    3
14    5
15    4
Name: c, dtype: int64

In [48]:



df["c"] = df["c"].astype(int)
df["c"] = df["c"].astype(str)
df['c'] = df['c'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["c"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.2875 0.48750000000000004 0.6875

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\3675317630.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.1484375

In [49]:



df["d"] = df["d"].astype(int)
df["d"] = df["d"].astype(str)
df['d'] = df['d'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["d"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.30000000000000004 0.48750000000000004 0.6875

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\2044629060.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.15904345985611093

In [50]:
df["e"] = df["e"].astype(int)
df["e"] = df["e"].astype(str)
df['e'] = df['e'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["e"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.45 0.6375 0.8375

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\3923848904.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.1589487945663121

In [51]:



df["f"] = df["f"].astype(int)
df["f"] = df["f"].astype(str)
df['f'] = df['f'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["f"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.4875 0.675 0.875

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\4030587807.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.15158659052007678

In [52]:
df["g"] = df["g"].astype(int)
df["g"] = df["g"].astype(str)
df['g'] = df['g'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["g"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.1875 0.375 0.5750000000000001

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\363228355.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.15211812993056079

In [53]:
df["h"] = df["h"].astype(int)
df["h"] = df["h"].astype(str)
df['h'] = df['h'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["h"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.36250000000000004 0.5625 0.7625

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\3811642302.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.1265625

In [54]:
df["i"] = df["i"].astype(int)
df["i"] = df["i"].astype(str)
df['i'] = df['i'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["i"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.2625 0.44999999999999996 0.65

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\1227632559.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.14662328734832925

In [55]:
df["j"] = df["j"].astype(int)
df["j"] = df["j"].astype(str)
df['j'] = df['j'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["j"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.21250000000000002 0.4 0.6

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\1623450282.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.1244853231068198

In [56]:
df["k"]

0     1
1     4
2     3
3     4
4     2
5     3
6     3
7     4
8     4
9     3
10    4
11    1
12    4
13    3
14    2
15    4
Name: k, dtype: int64

In [57]:
df["k"] = df["k"].astype(int)
df["k"] = df["k"].astype(str)
df['k'] = df['k'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["k"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.2375 0.41250000000000003 0.6125

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\4170805521.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.15913410454934823

In [58]:
df["l"] = df["l"].astype(int)
df["l"] = df["l"].astype(str)
df['l'] = df['l'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["l"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.21250000000000002 0.38750000000000007 0.5875

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\1241471780.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.160288812330858

In [59]:
df["m"] = df["m"].astype(int)
df["m"] = df["m"].astype(str)
df['m'] = df['m'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["m"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.3125 0.5 0.7

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\341135811.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.14549479538552024

In [60]:
df["n"] = df["n"].astype(int)
df["n"] = df["n"].astype(str)
df['n'] = df['n'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["n"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.26250000000000007 0.45 0.6499999999999999

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\29613680.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.14662328734832925

In [61]:
df["o"] = df["o"].astype(int)
df["o"] = df["o"].astype(str)
df['o'] = df['o'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["o"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.3375 0.525 0.725

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\2304928535.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.1480930976284904

In [62]:
df["p"] = df["p"].astype(int)
df["p"] = df["p"].astype(str)
df['p'] = df['p'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["p"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.2625 0.4375 0.6375

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\3606935060.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.14841046340190825

In [63]:
df["q"] = df["q"].astype(int)
df["q"] = df["q"].astype(str)
df['q'] = df['q'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["q"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.3125 0.5125 0.7124999999999999

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\3746893353.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.1484375

In [70]:
df["r"] = df["r"].astype(int)
df["r"] = df["r"].astype(str)
df['r'] = df['r'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["r"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.3375 0.5375 0.7375

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\3543274032.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.1109375

In [64]:
df["s"] = df["s"].astype(int)
df["s"] = df["s"].astype(str)
df['s'] = df['s'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["s"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.38749999999999996 0.5750000000000001 0.775

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\875882934.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.19908325999062834

In [65]:
df["t"] = df["t"].astype(int)
df["t"] = df["t"].astype(str)
df['t'] = df['t'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["t"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.25 0.4375 0.6375000000000001

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\2205406956.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.1498434639268959

In [66]:
df["u"] = df["u"].astype(int)
df["u"] = df["u"].astype(str)
df['u'] = df['u'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["u"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.1625 0.3375 0.5375000000000001

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\1571478552.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.18121425826427184

In [67]:
df["v"] = df["v"].astype(int)
df["v"] = df["v"].astype(str)
df['v'] = df['v'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["v"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.2875 0.475 0.675

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\1636299848.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.18145032025712

In [68]:
df["x"] = df["x"].astype(int)
df["x"] = df["x"].astype(str)
df['x'] = df['x'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["x"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.3375 0.5375 0.7375

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\2430939058.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.19531249999999997

In [17]:
n2b

0.7375

In [18]:
(dv[0]-n0b)

0     0.2625
1     0.2625
2     0.2625
3     0.0625
4    -0.3375
5    -0.1375
6    -0.3375
7     0.2625
8     0.0625
9    -0.3375
10    0.0625
11   -0.1375
12   -0.1375
13    0.0625
14    0.2625
15   -0.1375
Name: 0, dtype: float64

In [69]:
df["w"] = df["w"].astype(int)
df["w"] = df["w"].astype(str)
df['w'] = df['w'].replace({'1' : '0.0,0.0,0.2','2' : '0.0,0.2,0.4','3' : '0.2,0.4,0.6','4' : '0.4,0.6,0.8','5' : '0.6,0.8,1.0'}, regex=True)

df["w"].to_csv("bubble",index= None,header = None)
dv = pd.read_csv("bubble",sep="\,",header = None)
dv[0] = dv[0][:].str[1:].astype(float)
dv[1] = dv[1]
dv[2] = dv[2][:].str[:3].astype(float)
n0b = np.mean(dv[0])
n1b = np.mean(dv[1])
n2b = np.mean(dv[2])
print(n0b,n1b,n2b)
d = np.sqrt(((dv[0]-n0b)**2+(dv[1]-n1b)**2+(dv[2]-n2b)**2)/3)
np.mean(d)

0.425 0.625 0.825

C:\Users\acer\AppData\Local\Temp\ipykernel_8376\2803490461.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dv = pd.read_csv("bubble",sep="\,",header = None)

0.13124999999999998